.login .loginForm {
  height: 60%;
  width: 25%;
  border-radius: 2rem;
  border: 0.01rem solid rgba(165, 42, 42, 0.411);
  background-color: rgba(0, 0, 0, 0.74);
}
.login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./bg.jpg');
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.login .skew {
  width: 100%;
}
@media (max-width: 1080px) {
  .login .loginForm {
    width: 85%;
  }
}
