@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
  --primary-text-color: #fff;
  --secondary-color: #a52a2a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.931);
  color: var(--primary-text-color);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  font-size: 2.5em;
}
p {
  font-size: 1.3em;
}
@media (max-width: 1080px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 0.9rem;
  }
}
