.nav-links {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  width: 70%;
}
:root {
  --secondary-color: #a52a2a;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 0.5rem 1rem;
  z-index: 15;
}
.logo {
  font-size: 2rem;
}
h1 {
  height: 100%;
}
li {
  margin-left: 0.5rem;
}
.logo-text {
  color: var(--secondary-color);
}
.navBtn {
  padding: 0.5rem;
  border: 2px solid var(--secondary-color);
  width: 120px;
  border-radius: 1.5rem;
}
.loginBtn {
  padding: 0.5rem;
  border: var(--secondary-color);
  border-radius: 1.5rem;
  width: 120px;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.loginBtn:hover {
  transform: scale(1.02);
  background-color: transparent;
  transition: transform 0.1s ease-out, background-color 0.1s ease-in;
}
.navBtn:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  transform: scale(1.02);
  transition: transform 0.1s ease-out, background-color 0.1s ease-in;
}

@media (max-width: 1080px) {
  .navBtn,
  .loginBtn {
    width: 95px;
    font-size: 0.75rem;
  }
}
